.home {
    max-width: 100%;
}

.home p, .home h1, .home h2, .home h3, .home h4 {
    color: #000000;
}

.home h1 {
    font-size: 45px;
    margin: 3rem 0;
}

.globe-img-container {
    display: flex;
    justify-content: center;
}

.buttons-list {
    margin: 3rem 0;
    display: flex;
    justify-content: space-evenly;
}

.buttons-list:first-child {
    z-index: -1;
}

.block-2-container {
    width: 50%;
   margin: 0 auto !important;
}

.block-2-container h2 {
    font-size: 30px;
    text-align: center;
    margin: 4rem auto 1rem;
    border-bottom: 1px solid black;
}

.block-2-container p {
    text-align: center;
    color: #787878FF;
}

.block-4-container {
    margin: 3rem 0;
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #64aa69;
}